
body{
  background: #ECF0F1;
}
.sideNav{
  background: #221b2d;
  position: fixed;
  height: 100%;
  width:15%;
  margin-top: 45px;
  box-shadow: 0px 0px 2px 0px #232323;
  transition: 0.5s;
  overflow-x: hidden;
}
.topNavbar{
  padding: 0;
  background: #8bc34a;
  box-shadow: 0px 1px 1px 0px #232323;
}
.sideNav li{
    transition: 0.5s;
    padding: 10px 10px;
    border-bottom: solid 0.5px #221b2d;
}
.sideNav li:hover{
  background: #8bc34a;
  cursor: pointer;
}
.sideNav li a{
  font-size: 12px;
  color: #fff;
  text-decoration: none;

}
.section_container{
  /*position: fixed;*/
  height: 100%;
  width: 80%;
  padding-top: 50px;
  margin-left: 17.5%;
  background: #fff;
  box-shadow: 0px 0px 2px 0px #293949;
}
.sideNav-btn-open{
  position: absolute;
  border: none;
  background: none;
  display: none;
  top: 10px;
  left: 5px;
  padding:5px 15px;
}

.sideNav-head{
  display: none;
}
.bg-overlay{
  z-index: 1500;
  background:#000; position:fixed; width:100%; opacity:0.5; height:100%; display:none;
}
.Nmenu-right{
  margin: 0;
}
.Nmenu-right > .menu-profile{
  background: #37215c;
}
.Nmenu-right-size{
  display: none;
}
.dropdown-menu{
  background: #fff;
  padding:0px 0px;
  border-radius: 0;
  box-shadow: 0px 1px 2px 0px #333;
  font-size: 14px;
  margin:0;
}
.dropdown-menu a{
  border-bottom:  solid 1px #eee;
}
.dropdown-menu a{
  padding:5px 20px;
}
.Nmenu-right{
  margin-right: 30px;
}
.Nmenu-right > .menu-profile > .dropdown-menu p{
  color:#333;
}
.Nmenu-right > .menu-setting{
  padding: 5px 1px;
}
.Nmenu-right > .menu-profile:hover{
  cursor: pointer;
}
.Nmenu-right > .menu-lang:hover{
  cursor: pointer;
}
.nav-logout{
  display: none;
}
.card{
  border: none;
}
.card .card-header{
  border: none;
  border-bottom: solid 1px #ccc;
  border-radius: 0px;
  /*position: fixed;*/
  width: 100%;
}
.btn-page-up{
  background: #221b2d;
  right: 1px;
  bottom: 1px;
  border: none;
  display: none;
  font-size: 12px;
  padding: 10px 15px;
  position: absolute;
  color:#fff;
  opacity: .8;
  z-index: 10;
}
.btn-page-up:hover{
  cursor: pointer;
  opacity: 1;
}
.caret_right{
  position:relative;
  left:50%;
  top:0px;
}
.caret_right_badge{
  position:relative;
  left:40%;
  top:0px;
}

.captionMap{
  color: #333;
  background: #fff;
  opacity: .8;
}
.carousel-control-prev{
  background:#999; opacity:.1;
}
.carousel-control-next{
  background:#999; opacity:.1;
}
#goStart{
  background: #fff;
  border: none;
}
.btn-location{
  margin: 5px 0px;
}
.btn-location > span{
  /*color:#2ECC71;*/

}
/*.btn-location:hover{
  color:#27AE60;
  background: #fff;
  cursor: pointer;
}*/
.badge-tab{
  border-radius: 50%;
  width: 20px;
}
.progress{
  border-radius: 50px;
  background: #34495E;
}
.progress-bar{
    height: 20px;
}
.progress-text{
  margin-left: 10px;
  margin-top: 2.5px;
}

.step{
    margin: 10px 0px;
    border:solid 1px #ccc;
    padding: 10px;
    border-radius: 5px;
}
#approve_panel{
  padding:20px 0px;
}
@media (max-width:1024px){
  .sideNav{
    z-index: 2000;
    width: 0;
    margin-top: 0;
    box-shadow: 1px 0px 1px 0px #222;
  }

  .sideNav li{
      transition: 0.5s;
      padding: 10px 10px;
      border-bottom: solid 0.5px #293949;
  }
  .topNavbar{
      /*z-index: 0;*/
  }
  .section_container{
      width: 90%;
      margin-left: 5%;
      /*z-index: -100;*/
  }
  .sideNav-btn-open{
    color: #fff;
    display: block;
  }
  .navbar-brand{
    margin-left: 40px;
  }
  .sideNav-head{
    display:inline;
    padding: 0px;
    background: #4b2886;
    color: #fff;
  }

  .sideNav-head .profile{
    display: none;
    padding: 10px 15px;
    color: #333;
  }
  .sideNav-head .profile .profile-coll{
    position: absolute;
    right:20px;
    top: 0px;
  }
  .sideNav-btn-close{

    display:inline;
    text-align: right;
    padding: 10px;
    position: absolute;
    right: 10px;
  }
  .sideNav-btn-close span{
    color: #fff;
  }

  .sideNav li a{
    font-size: 16px;
  }
  .Nmenu-right{
      display: block;
  }

  #rigth-size{

  }
}
.table thead th{
  border: solid 1px #ccc;
  border-bottom: solid 2px #ccc;

}
.table tr td{
  border: solid 1px #ccc;
}
.table tbody tr{
  transition: .5s;
}
.table tbody tr:hover{

  background: #eee;
  cursor: pointer;
}
.tblBk thead th{
  font-size: 12px;
  border:solid 1px #666;
  border-bottom: solid 2px #666;
}
  .tblBk tbody tr td{
    font-size: 12px;
    border:solid 1px #666;
  }
  .bkItem{
    background: #fff;
    border: none;
    padding:0px 20px;
    box-shadow: 0px 1px 1px #666;
  }
  .bkItem .nav-item .active,.bkItem .nav-item .active:hover{
    border-radius: 0px;
    background:#4b2886;
    color: #fff;
    cursor: pointer;
  }
  .bkItem .nav-item:hover{
    border-radius: 0px;
    background:#eee;
    cursor: pointer;
  }

@media (max-width:780px){
  .caret_right{
    left:80%;
  }
  .caret_right_badge{
    left:75%;
  }
  .sideNav-head .profile{
    display: block;
  }
  .sideNav-btn-open{
    top: 15px;
  }

  .Nmenu-right-size{
    right: 40px;
  }
  .Nmenu-right{
      display: none;
  }
  .Nmenu-right-size{
    display: block;
    color: #fff;
  }
  .Nmenu-right-size > button{
      position: absolute;
      right : 10px;
      top: 10px;
      border: none;
  }
  #sizeMenu ul li{
    border-bottom: solid 1px #34495E;
  }
  #sizeMenu ul li a{
    color: #fff;
  }
}
@media (max-width:648px){

}
@media (max-width:480px){
  .Nmenu-right-size{
    right: 30px;
  }
  .caret_right{
    left:60%;
  }
  .caret_right_badge{
    left:50%;
  }
}
