li>a{
  color: #414042;
  text-decoration: none;
}
li>a:hover, li>a:focus, li>a:active{
  text-decoration: none;
  color: #414042;
}
button>span{
  color: #FFFFFF;
}
.topNavbar>button>span,.topNavbar>div>button>span{
  color: #414042;
}
.btn_query{
  z-index: 4;
}

.mr-b-15{
  margin-bottom: 15px;
}
.mr-t-15{
  margin-top: 15px;
}
.mr-tb-15{
  margin-top: 15px;
  margin-bottom: 15px;
}
.topNavbar{
  padding: 0;
  background: #FFFFFF;
  box-shadow: 0px 1px 1px 0px #EEEEEE;
}
.topNavbar .headertext{
  color: #414042;
}
.topNavbar .sideNav-btn-open {
    position: absolute;
    border: none;
    background: none;
    margin-top:10px;
}
.topNavbar a.brand:hover{
  text-decoration: none;
  cursor: default
}
.topNavbar a.brand > img{
  margin-right: 10px;
}
.dropdown-menu {
  background: #FFBF3C;
}
.dropdown-menu a {
  padding: 5px 20px;
}
.dropdown-menu a {
  border-bottom: solid 1px #eee;
}
.dropdown-menu a.lastmenu{
  border-bottom: 0;
}
.sideNav{
  /* background: transition; */
  background: #FFFFFF;
  position: fixed;
  height: 100%;
  width:18%;
  box-shadow: 0px 0px 2px 0px #EEEEEE;
  transition: 0.5s;
  overflow-x: hidden;
  padding-bottom: 150px;
}
.sideNav li{
    background: #FFFFFF;
    transition: 0.5s;
    padding: 10px 10px;
    border-bottom: solid 0.5px #EEEEEE;
}
.sideNav .nav-link:hover{
  background: #FFA835;
}
.sideNav.sideNav-show{
  width: 50%;
}
.bg-overlay{
  z-index: 1500;
  background:#000; position:fixed; width:100%; opacity:0.3; height:100%; display:none;
}
.btn-page-up{
  background: #FFBF3C;
  right: 1px;
  bottom: 1px;
  border: none;
  display: none;
  font-size: 12px;
  padding: 10px 15px;
  position: absolute;
  opacity: .8;
  z-index: 10;
}
.btn-page-up:hover{
  cursor: pointer;
  opacity: 1;
}

/* copy */

span.caret_right_badge{
  position:relative;
  float: right;
  margin-top: 2px;
  font-size: 10px;
  padding: .5em .5em;
}
div.modal-header, div.card-header{
  background: #FFBF3C;
}
div.card{
  padding: 15px 25px;
}
.captionMap{
  color: #333;
  background: #fff;
  opacity: .8;
}
.carousel-control-prev{
  background:#999; opacity:.1;
}
.carousel-control-next{
  background:#999; opacity:.1;
}
#goStart{
  background: #fff;
  border: none;
}
.btn-location{
  margin: 5px 0px;
}
.btn-location > span{
  /*color:#2ECC71;*/

}
.badge-tab{
  border-radius: 50%;
  width: 20px;
}
.progress{
  border-radius: 50px;
  background: #34495E;
}
.progress-bar{
    height: 20px;
}
.progress-text{
  margin-left: 10px;
  margin-top: 2.5px;
}

.step{
    margin: 10px 0px;
    border:solid 1px #ccc;
    padding: 10px;
    border-radius: 5px;
}
#approve_panel{
  padding:20px 0px;
}
.table thead th{
  border: solid 1px #ccc;
  border-bottom: solid 2px #ccc;

}
.table tr td{
  border: solid 1px #ccc;
}
.table tbody tr{
  transition: .5s;
}
.table tbody tr:hover{

  background: #eee;
  cursor: pointer;
}
.tblBk thead th{
  font-size: 12px;
  border:solid 1px #666;
  border-bottom: solid 2px #666;
}
.tblBk tbody tr td{
  font-size: 12px;
  border:solid 1px #666;
}
.bkItem{
    background: #fff;
    border: none;
    padding:0px 20px;
    /* box-shadow: 0px 1px 1px #666; */
}
.bkItem .nav-item a.active{
  background:#FFBF3C;
}
.bkItem .nav-item a.active:hover{
    border-radius: .25rem;
    background:#FFA835;
    cursor: pointer;
}
.bkItem .nav-item:hover{
    border-radius: 0px;
    background:#eee;
    cursor: pointer;
}
.deleteApprove:hover{
    color: #f44336;
}

.form-control:disabled, .form-control[readonly]{
    background: #FBFBCC !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #ccc !important;
      opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #ccc !important;
}

.fc-icon-left-double-arrow:after,
.fc-icon-left-single-arrow:after,
.fc-icon-right-single-arrow:after,
.fc-icon-right-double-arrow:after,
.fc .fc-toolbar>*>:first-child{
  color: #414042;
}

/* copy */

@media only screen and (max-width: 600px) {
  .topNavbar .sideNav-btn-open{
    display: block;
  }
  .topNavbar ul.navbar-brand{
    margin-left: 50px;
  }
  .topNavbar ul.navbar-brand.margin-auto {
      margin-right: 50%;
  }
  .topNavbar .Nmenu-right,.Nmenu-right li.menu-profile{
    display: none
  }
  .Nmenu-right-size > button {
    position: absolute;
    right: 10px;
    top: 10px;
    margin-top:10px;
    border: none;
  }
  .container-dashboard{
    margin-left:0%;
  }
  .sideNav {
    z-index: 2000;
    width: 0;
  }
  .sideNav.sideNav-show{
    width: 50%;
  }
}

@media only screen and (min-width: 600px) {
  .topNavbar .sideNav-btn-open{
    display: block;
  }
  .topNavbar ul.navbar-brand{
    margin-left: 50px;
  }
  .topNavbar ul.navbar-brand.margin-auto {
      margin-right: 50%;
  }
  .topNavbar .Nmenu-right,.Nmenu-right li.menu-profile{
    display: none
  }
  .Nmenu-right-size > button {
    position: absolute;
    right: 10px;
    top: 10px;
    margin-top:10px;
    border: none;
  }
  .container-dashboard{
    margin-left:0%;
  }
  .sideNav {
    z-index: 2000;
    width: 0;
  }
  .sideNav.sideNav-show{
    width: 40%;
  }
}

@media only screen and (min-width: 768px) {
  .sideNav.sideNav-show{
    width: 30%;
  }
}

@media only screen and (min-width: 992px){
  .topNavbar .sideNav-btn-open{
    display: none;
  }
  .topNavbar ul.navbar-brand{
    margin-left: 0px;
  }
  .topNavbar ul.navbar-brand.margin-auto {
      margin-right: auto;
  }
  .topNavbar .Nmenu-right,.Nmenu-right li.menu-profile{
    display: block;
  }
  .container-dashboard{
    margin-left:18%;
  }
  .sideNav {
    z-index: 0;
    width: 18%;
  }
}

@media only screen and (min-width: 1200px) {
  .container-dashboard{
    margin-left:15%;
  }
  .sideNav {
    z-index: 0;
    width: 15%;
  }
}

@media only screen and (min-width: 1900px) {
}
