@import url('https://fonts.googleapis.com/css?family=Athiti');
*{
  font-family: 'Athiti', sans-serif;
  padding: 0;
  /* margin: 0; */
  /* margin-top: 10px; */
  color: #414042;
}
body{
  /* background: #ECF0F1; */
  background-image: url("../image/bg_login.jpg");
  /* background-size: 100%; */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.container-dashboard{
  margin-top: 65px;
  margin-left:18%;
  padding-top:15px;
  padding-left: 1%;
  padding-right: 1%;
}
.container-dashboard > div.col-md-12{
  margin: auto;
  padding: 0;
  /* max-width: 92%; */
}
/* login */
.block{
  margin: 0 auto;
  margin-top: 15%;
}
.block-login {
  width: 50%;
  text-align: center;
  /* background-image: url("../image/bg_login.jpg"); */
  /* background-size: 100%; */
  /* background-repeat: no-repeat; */
  padding-top: 50px;
  padding-bottom: 20px;
  border-radius: 5px;

}
.block-login img{
  width: 30%;
  padding: 10px;
  margin: 0 auto;
}
.block-login-form{
  width:70%;
  margin: 0 auto;
  padding: 20px 0px;
}
.btn-login{
  width: 100%;
  border-radius: 0px;
  background: #FFA835;
  border: none;
  transition: .5s;
  /* box-shadow: 0px 1px 1px 0px #2c3e50; */
}
.btn-login:hover{
  background: #FFBF3C ;
  cursor:pointer;
}
.btn-login:focus{
  border:none;
}
.form-control-feedback{
  font-size: 12px;
  text-align: left;
  font-weight: bold;
}
/* login */


@media only screen and (max-width: 600px) {
  /* login */
  .block{
    margin-top: 35%;
  }
  .block-login {
    width: 100%;
  }
  /* login */
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {
  /* login */
  .block{
    margin-top: 25%;
  }
  .block-login {
    width: 60%;
  }
  /* login */
}

@media only screen and (min-width: 992px){
  /* login */
  .block{
    margin-top: 17%;
  }
  .block-login {
    width: 50%;
  }
  /* login */
}

@media only screen and (min-width: 1200px) {
  /* login */
  .block{
    margin-top: 15%;
  }
  .block-login {
    width: 40%;
  }
  /* login */
}

@media only screen and (min-width: 1900px) {

}
