
body{
  background: #ECF0F1;
}
span{
  color:#fff;
}
.form-control{
  border-radius: 0px;
}
.block{
  margin: 0 auto;
  margin-top: 5%;
}
.block-login {
  width: 50%;
  text-align: center;
  background: #2196f3;
  box-shadow: 0px 1px 1px 0px #221b2d;
  padding: 50px 0px;
}
.block-login img{
  width: 25%;
  margin: 0 auto;
}
.block-login .block-login-form{
  background: #fff;
  width:50%;
  margin: 0 auto;
  padding: 20px 0px;
}
.btn-login{
  width: 100%;
  border-radius: 0px;
  background: #1565c0;
  border: none;
  transition: .5s;
  box-shadow: 0px 1px 1px 0px #2c3e50;
}
.btn-login:hover{
  background: #64b5f6 ;
  cursor:pointer;
}
.btn-login:focus{
  border:none;
}
.form-control-feedback{
  font-size: 12px;
  text-align: left;
  font-weight: bold;
}

@media (max-width:780px){
  .block {
    margin-top: 0%;
    width: 100%;
  }
  .block-login img{
    width:30%;
    margin: 0 auto;
  }
  .block-login .block-login-form{
    width:50%;
    padding:20px 0px;
  }
}

@media (max-width:648px){
  .block {
    margin-top: 0%;
    width: 100%;
  }
  .block-login img{
    width:15%;
    margin: 0 auto;
  }
  .block-login .block-login-form{
    width:60%;
    padding:20px 0px;
  }

}

@media (max-width:480px){
  .block {
    margin-top: 15%;
    width: 100%;
  }
  .block-login img{
    width: 50%;
    margin: 0 auto;
  }
  .block-login .block-login-form{
    width:90%;
    padding:30px 0px;
  }
}
